{% extends 'frontend/basefront.html.twig' %}

{% block title %}Services{% endblock %}

{% block content %}
    <main>


        {{ include('service/listservicefront.html.twig') }}


    </main>
{% endblock %}