{% extends 'frontend/basefront.html.twig' %}

{% block title %}Category{% endblock %}

{% block content %}
    <main>

    {{ include('category/listcategoryfront.html.twig') }}


    </main>
{% endblock %}
