{% extends 'frontend/basefront.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block content %}
    <main>




        {{ include('category/categoryproduit.html.twig') }}


    </main>
{% endblock %}