{% extends 'frontend/basefront.html.twig' %}

{% block title %}Produits{% endblock %}

{% block content %}
    <main>




        {{ include('produit/listproduitfront.html.twig') }}


    </main>
{% endblock %}